.my-movies-library {
    width: 70%;
    margin: 0 auto;
    max-width: 90%;

    .title {
        margin-bottom: 50px;
        position: relative;
    }
    .to-library {
        font-size: 5rem;
        color: white;
    }
}