.sign-in {
    width: 40%;
    text-align: left;
    margin-left: 20%;

    .sign-in-button {
        background-color: #f44336; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        border-radius: 50%;
        margin: 0 auto;
    }
}
